@using EPiServer.Web.Mvc.Html

@model EPiServerDemo.Models.ViewModels.IPageViewModel<EPiServerDemo.Models.Pages.StandardPage>

<div class="text-center">
    <h1 @Html.EditAttributes(m => m.CurrentPage.MetaTitle)>
        @(Model.CurrentPage.MetaTitle ?? Model.CurrentPage.Name)
    </h1>
</div>
<div class="row">
    <div class="span8 clearfix">
        @Html.PropertyFor(x => x.CurrentPage.MainBody)
    </div>
</div>
