@model IndeavrExam.Web.ViewModels.Games.EditGameInputModel

@{
    this.ViewData["Title"] = "Edit game";
}

<form method="post" class="col-md-6 offset-md-3 text-center" enctype="multipart/form-data">
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>

    <div>
        <span asp-validation-for="Title" class="text-danger"></span>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label asp-for="Title" class="input-group-text">
                    <i class="fas fa-file-signature"></i>
                </label>
            </div>
            <input asp-for="Title" placeholder="Name" class="form-control" />
        </div>
    </div>

    <div>
        <span asp-validation-for="ImageUrl" class="text-danger"></span>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label asp-for="ImageUrl" class="input-group-text">
                    <i class="fas fa-file-signature"></i>
                </label>
            </div>
            <input asp-for="ImageUrl" placeholder="Image Url" class="form-control" />
        </div>
    </div>

    <div>
        <span asp-validation-for="Price" class="text-danger"></span>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label asp-for="Price" class="input-group-text">
                    <i class="fas fa-file-signature"></i>
                </label>
            </div>
            <input asp-for="Price" placeholder="Name" class="form-control" />
        </div>
    </div>

    <div>
        <span asp-validation-for="Description" class="text-danger"></span>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label asp-for="Description" class="input-group-text">
                    <i class="fas fa-file-signature"></i>
                </label>
            </div>
            <input asp-for="Description" placeholder="Name" class="form-control" />
        </div>
    </div>

    <div>
        <span asp-validation-for="ReleaseDate" class="text-danger"></span>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label asp-for="ReleaseDate" class="input-group-text">
                    <i class="fas fa-file-signature"></i>
                </label>
            </div>
            <input asp-for="ReleaseDate" placeholder="Name" class="form-control" />
        </div>
    </div>

    <hr />

    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
    <hr />
</form>